html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    font-size: 2rem;
    font-family: bold;
    position: relative;

}
main{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;

}
footer{
    width: 100%;
    height: 4rem;
    display:flex;
    justify-content: space-between;
    border-top: 1px solid black;
}

.blocos{
    width: 20rem;
    height: 5rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 1rem;
}
.servicos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.jardinagem{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.link_seta{
    position: absolute;
    top: 0.1rem;
    left: 0.2rem;
} 

.seta{
    width: 2.7rem;
    height:2.7rem ;
}

.ID{
    width: 20rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 1.9rem;
    justify-content: space-between;
    margin-top: 1rem;

}

.bola{
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid black;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1rem;
}

.IDHIST{ 
    width: 20rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 1.9rem;
    justify-content: start;
    margin-top: 1rem;

}