html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    font-size: 2rem;
    font-family: bold;

}
main{
    width:100%;
    height: 100%;

}
footer{
    width: 100%;
    height: 4rem;
    display:flex;
    justify-content: space-between;
    border-top: 1px solid black;
}

.blocos{
    width: 20rem;
    height: 5rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 1rem;
}
.servicos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


